ul.main-adjetives {
    vertical-align: top;
    font-weight: bold;
}

h1.quotation {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/dd/Airquotes.gif");
    background-size: contain;
    color: #222;
}

.reveal h1 small,
.reveal h2 small {
    vertical-align: baseline;
    text-transform: none;
}

h1 span.ds,
h2 span.ds,
h3 span.ds{
    color: #d9b19c;
}

h1 span.ml,
h2 span.ml,
h3 span.ml {
    color: #d9b19c;
}

.reveal pre code {
    max-height: 450px;
}
