ul.main-adjetives {
    vertical-align: top;
    font-weight: bold;
}

h1.quotation {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/dd/Airquotes.gif");
    background-size: contain;
    color: #222;
}

.reveal h1 small {
    vertical-align: baseline;
    text-transform: lowercase;
}
